Flask==3.0.3
dash==2.18.2
dash-bootstrap-components==1.6.0
visdcc==0.0.50
Flask==3.0.3
Werkzeug==3.0.6
plotly==6.3.0
Werkzeug==3.0.6
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.0
blinker==1.9.0
setuptools==80.9.0
pandas==2.3.2
pyarrow>=15.0.0
gunicorn==23.0.0
visdcc==0.0.50
